@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Ecommerce Shop</h1>
    <p>Soon you will be able to buy and sell ecofriendly products</p>
</div>
